<nav
  class="flex items-center justify-between flex-wrap bg-teal-500 p-6 fixed w-full z-10 top-0"
>
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">ChatGPT Clone</span>
  </div>
  <div class="block">
    <button
      class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
      onclick="window.open('https://github.com/yagizhanNY/openai-chatgpt3-clone', '_blank')"
    >
      Source Code
    </button>
  </div>
</nav>
